body {
  position: relative;
}

img {
  width:100%;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
}

.size {
  height: 100%;
}

h3 {
  font-family: 'Indie Flower', cursive;
}

h1, p, nav {
  font-family: 'Nunito', sans-serif;
}

p, nav{
  font-size: 18px;
}

.thumbnail p{
  margin-top: 10px;
}
.form-horizontal{
  margin-top: 120px;
}

.form-control {
  width: 500px;
}

#signh1 {
  text-align: center;
}

.navbar {
  margin-bottom: 0px;
}